<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLNSConnection"
			 connectionString="Server=LAPTOP-7EOU5IUM;
			 Database=QLNS;
			 Trusted_Connection=True;
			 TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>