<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="QLNSConnection"
		  connectionString="Server=.\SQLEXPRESS;Database=QLNS;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>